.card{
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 10%;
	width: 90%;
}

/* On mouse-over, add a deeper shadow */
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container{
	padding: 2px 16px;
}

img {
	width: 100%;
	border-radius: 10%;
}

.tags li{
	display: inline;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.grid-container{
	display: grid;
	grid-template-columns: auto;
}

}

@media only screen and (max-width: 600px){
.grid-container{
	display: grid;
	grid-template-columns: auto;
}
}

