---
layout: default
---

<link rel="stylesheet" href="/assets/css/course_style.css">
<h1 class="page heading">Courses</h1>
 {% include courses/side_bar.html %}
 {{content}}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active_course");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
